
<%- include('../partials/header')  %> 

<body class="d-flex flex-column vh-100">

    <%- include('../partials/navbar')  %> 

    <main class="container mt-5">

        <%- include('../partials/flash') %>  
        
        <%- body %> 
    
    </main>

    <!-- js files  -->
    <script src="/js/clientValidate.js"></script>
    <%- block('js').toString() %>
</body>

<%- include('../partials/footer') %>