<%- layout('layout/boilerplate') %> 

<div class="container">

    <h3 class="text-center"><%= trip.title %></h5>

    <div class="row">

        <div class="col-8 offset-2">

            <div class="card">

                <img src="<%= trip.img %>" alt="" class="img-fluid">

                <div class="card-body">

                    <p class="card-text"><%= trip.description %></p>

                </div>

                <ul class="list-group list-group-flush">

                    <li class="list-group-item">Location: <%= trip.location %> </li>
                    <li class="list-group-item text-muted">Posted: <%= trip.date %> </li>

                </ul>

               

            </div>

            <div class="card-body col">

                <a href="/trips" class="btn btn-info card-link">Back to Index</a>
                <a href="/trips/<%= trip._id %>/edit" class="btn btn-danger card-link">Edit Trip</a>

            </div>

        </div>

    </div>

</div>


